.container {
    height: 100px;
    display: flex;
    color: #000;
}


.img {
    height: 90%;
    position: relative;
    margin: auto 10px;
}

.name {
    font-size: 30px;
    font-weight: 700;
    margin: auto 10px;
}

.age {
    font-size: 30px;
    font-weight: 700;
    margin: auto 10px auto auto;
}